body {
  & {
    background-color: #3e753e;
    color: #fff9f3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    text-shadow: #3e753e 0 0 3px;
    // @media (max-width: 1000px) {
    //   .header {
    //     display: block;
    //     height: auto;
    //     img {
    //       border-radius: 1rem;
    //       // width: 100%;
    //       height: auto;
    //     }
    //   }
    // }
  }

  .header {
    & {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 1rem;
      margin: 1rem;
      border-radius: 1rem;
      background-color: #7ec57e;
      height: 350px;
      @media (max-width: 1000px) {
        display: block;
        height: auto;
      }
      img {
        & {
          border-radius: 0;
          border-radius: 1rem 0 0 1rem;
          width: auto;
          height: 100%;
          // width: 100%;
          height: 350px;

          @media (max-width: 1000px) {
            display: block;
            border-radius: 1rem 1rem 0 0;
            width: 100%;
            height: auto;
          }
        }
      }
    }
    article {
      padding: 3rem;
      @media (max-width: 1000px) {
        padding: 1rem;
      }
    }
  }
  .image_grid {
    column-gap: 1rem;
    column-count: 6;
    margin: 1rem;
    @media (max-width: 1200px) {
      column-count: 4;
      margin: 1rem;
    }
    @media (max-width: 1000px) {
      column-count: 3;
      margin: 1rem;
    }
    @media (max-width: 600px) {
      column-count: 2;
      margin: 1rem;
    }
    figure {
      & {
        break-inside: avoid;
        margin: 0;
        margin-bottom: 1rem;
        border-radius: 1rem;
        padding: 0;
        height: auto;
      }
      & img {
        & {
          border-radius: 0 0 1rem 1rem;
          width: 100%;
        }
      }
      figcaption {
        border-radius: 1rem 1rem 0 0;
        background-color: #7ec57e;
        padding: 5px 0;
        width: 100%;
        text-align: center;
        text-transform: capitalize;
      }
    }
  }
}
