.footerStyling {
  background-color: #7ec57e;
  display: flex;
  justify-content: center;
  height: auto;
  padding: 3rem;
  gap: 30px;
  img{
    height: 210px;
  }
  article {
    h4 {
      padding-top: 1rem;
      font-size: 24px;
    }
    p {
      font-size: 30px;
    }
  }
}
